@import './../common.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: default !important;
}

#container {
    height: 100%;
    position: relative;
}

#top-container {
    position: absolute;
    width: 100%;
    height: 30px;
    z-index: 3;
    /* -webkit-app-region: drag; */
    /* -webkit-user-drag: none; */
}

#top-grow-container {
    flex-grow: 1;
    height: 30px;
    -webkit-app-region: drag;
}

#login-page-top-container {
    
}

#main-container {
    width: 100%;
    flex-grow: 1;
    position: relative;
}

#loading-container {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    visibility: visible;
    z-index: 2;
    opacity: 1;
    transition:all 0.2s linear;
}

#iframe-container {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
}